@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('./styles/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.heroNavText{
    font-size: 36px;
    font-family: 'Harmony', sans-serif;
    font-weight: 500;
    line-height: 44.64px;
}


.heroNavLogin{
    font-size: 32px;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    line-height: 38.4px;
}

.heroText{
    font-size: 152px;
    font-family: 'Harmony', sans-serif;
    font-weight: 500;
    line-height: 188.48px;
    letter-spacing: 30.4px;
}

@media (max-width: 768px) {
    .heroText {
      font-size: 100px; /* Adjust font size for smaller screens */
      letter-spacing: 20px; /* Adjust letter spacing for smaller screens */
      line-height: 1.2; /* Optionally adjust line height for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .heroText {
      font-size: 84px; /* Further adjust font size for mobile screens */
      letter-spacing: 12px; /* Further adjust letter spacing for mobile screens */
      line-height: 1.2; /* Optionally adjust line height for mobile screens */
    }
  }

.ptext{
    font-size: 20px;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    line-height: 24px;
}

  .booknow{
    background: #F5F5F5;
  }

  .bookHeroText{
    font-size: 72px;
    font-family: 'Harmony', sans-serif;
    font-weight: 500;
  }

  .bookBox1{
    background: #F5E8E1;
    width: 477px;
    height: 228px;
    border-radius: 5px;
  }

  .bookBox2{
    background: #F5E8E1;
    width: 477px;
    height: 228px;
    border-radius: 5px;
  }

  .bookBox3{
    background: #F5E8E1;
    width: 477px;
    height: 523px;
    border-radius: 5px;
  }

  .bookBox4{
    background: #F5E8E1;
    width: 477px;
    height: 523px;
    border-radius: 5px;
  }

  .smallBox{
    background: #C0713E;
    width: 200px;
    height: 55px;
    padding: 6px;
    color: white;
  }

  .subHeadings{
    font-size: 32px;
    font-weight: 500;
    font-family: 'Syne', sans-serif;
    line-height: 38.4px;
    
  }
  
