@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
@import url("./styles/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bookBox1 {
  background: #f5e8e1;
  width: 477px;
  height: 228px;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}
.bookBox2 {
  background: #f5e8e1;
  width: 477px;
  height: 228px;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}
.bookBox3 {
  background: #f5e8e1;
  width: 477px;
  height: 472px;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}
.bookButton {
  background: #8b4513;
  width: 477px;
  height: 60px;
  border-radius: 5px;
}
.bookBox4 {
  background: #f5e8e1;
  width: 477px;
  height: 370px;
  border-radius: 5px;
}
.smallBox {
  background: #c0713e;
  width: 200px;
  height: 55px;
  padding: 6px;
  color: white;
}
.smallBox2 {
  background: #c0713e;
  width: 200px;
  height: 55px;
  color: white;
}
.smallBox2::placeholder {
  color: white;
}

.subHeadings {
  font-size: 32px;
  font-weight: 500;
  font-family: "Syne", sans-serif;
  line-height: 38.4px;
}

/* Mobile styles (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .bookBox1,
  .bookBox2,
  .bookBox3,
  .bookBox4 {
    width: 90%; /* adjust width to 90% of screen width */
    padding: 10px; /* adjust height to auto */
    padding-bottom: 6px;
  }
  .smallBox {
    width: 110px;
    height: 55px;
  }
  .smallBox2 {
    background: #c0713e;
    width: 110px;
    height: 55px;
    color: white;
  }
  .bookButton {
    width: 90%;
  }
}

.wrapper {
  margin: auto;
}
